In [1]:
import pandas as pd
import geopandas as gpd

In [ ]:
# Read raw file

In [2]:
gdf1 = gpd.read_file("C://Users//zlfdo//Desktop//ECCE GeoTrio//App2_Potential//Data//TreeComm//Tree_Comm_2012.shp")
gdf2 = gpd.read_file("C://Users//zlfdo//Desktop//ECCE GeoTrio//App2_Potential//Data//TreeComm//Tree_Comm_2013.shp")
gdf3 = gpd.read_file("C://Users//zlfdo//Desktop//ECCE GeoTrio//App2_Potential//Data//TreeComm//Tree_Comm_2015.shp")
gdf4 = gpd.read_file("C://Users//zlfdo//Desktop//ECCE GeoTrio//App2_Potential//Data//TreeComm//Tree_Comm_2017.shp")
gdf5 = gpd.read_file("C://Users//zlfdo//Desktop//ECCE GeoTrio//App2_Potential//Data//TreeComm//Tree_Comm_2020.shp")

In [4]:
gdf1.head()

,Join_Count,TARGET_FID,class,name,Shape_Area,Shape_Leng,Shape_Ar_1,canopyDens,Year,geometry
0,10098,1,Residential,WHITEHORN,341606.053874,6500.704569,2.642562e+06,0.129271,2012.0,"POLYGON ((571274.411 5658732.518, 572908.565 5..."
1,650,2,Residential,MANCHESTER,23577.923595,4013.046069,4.735081e+05,0.049794,2012.0,"POLYGON ((565503.264 5649403.427, 565551.333 5..."
2,2506,3,Residential,ELBOYA,152285.505422,3889.233796,7.203073e+05,0.211417,2012.0,"POLYGON ((565099.154 5649960.600, 565099.340 5..."
3,3920,4,Residential,CORAL SPRINGS,56437.059890,5442.544189,1.814935e+06,0.031096,2012.0,"POLYGON ((575548.739 5660416.542, 575574.996 5..."
4,8006,5,Residential,PENBROOKE MEADOWS,209591.138805,5887.195087,2.043074e+06,0.102586,2012.0,"POLYGON ((574606.086 5653929.429, 574607.591 5..."

In [ ]:
# Convert to dataframe

In [21]:
df1 = gdf1
df2 = gdf2
df3 = gdf3
df4 = gdf4
df5 = gdf5

In [ ]:
# Concat

In [22]:
frames = [df1, df2, df3, df4, df5]
result = pd.concat(frames)
result.head()

,Join_Count,TARGET_FID,class,name,Shape_Area,Shape_Leng,Shape_Ar_1,canopyDens,Year,geometry
0,10098,1,Residential,WHITEHORN,341606.053874,6500.704569,2.642562e+06,0.129271,2012.0,"POLYGON ((571274.411 5658732.518, 572908.565 5..."
1,650,2,Residential,MANCHESTER,23577.923595,4013.046069,4.735081e+05,0.049794,2012.0,"POLYGON ((565503.264 5649403.427, 565551.333 5..."
2,2506,3,Residential,ELBOYA,152285.505422,3889.233796,7.203073e+05,0.211417,2012.0,"POLYGON ((565099.154 5649960.600, 565099.340 5..."
3,3920,4,Residential,CORAL SPRINGS,56437.059890,5442.544189,1.814935e+06,0.031096,2012.0,"POLYGON ((575548.739 5660416.542, 575574.996 5..."
4,8006,5,Residential,PENBROOKE MEADOWS,209591.138805,5887.195087,2.043074e+06,0.102586,2012.0,"POLYGON ((574606.086 5653929.429, 574607.591 5..."

In [ ]:
# Convert back to geodataframe

In [25]:
gdf = gpd.GeoDataFrame(result, geometry=result['geometry'])
gdf.head()

,Join_Count,TARGET_FID,class,name,Shape_Area,Shape_Leng,Shape_Ar_1,canopyDens,Year,geometry
0,10098,1,Residential,WHITEHORN,341606.053874,6500.704569,2.642562e+06,0.129271,2012.0,"POLYGON ((571274.411 5658732.518, 572908.565 5..."
1,650,2,Residential,MANCHESTER,23577.923595,4013.046069,4.735081e+05,0.049794,2012.0,"POLYGON ((565503.264 5649403.427, 565551.333 5..."
2,2506,3,Residential,ELBOYA,152285.505422,3889.233796,7.203073e+05,0.211417,2012.0,"POLYGON ((565099.154 5649960.600, 565099.340 5..."
3,3920,4,Residential,CORAL SPRINGS,56437.059890,5442.544189,1.814935e+06,0.031096,2012.0,"POLYGON ((575548.739 5660416.542, 575574.996 5..."
4,8006,5,Residential,PENBROOKE MEADOWS,209591.138805,5887.195087,2.043074e+06,0.102586,2012.0,"POLYGON ((574606.086 5653929.429, 574607.591 5..."

In [ ]:
# Output

In [26]:
gdf.to_file('TC_concat.shp')

C:\Users\zlfdo\anaconda3\envs\rs_gis\lib\site-packages\geopandas\io\file.py:362: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  pd.Int64Index,